extends ../shared/template
block content
  h1.page-title Where you have been.
  #vacation-show
    .row
      .col-xs-6
        #map
      .col-xs-6
        form(method='post', action='/vacations/#{vacation._id}/photos/new')
          .form-group
              label(for='url') Photo URL
              input.form-control#url(type='text', name='url')
            button.btn.btn-success(type='submit') Add Photo
    .row
      .col-xs-12
        #vacation(data-name=vacation.name, data-lat=vacation.lat, data-lng=vacation.lng)
          .page-header: h1= vacation.name
            table.table
              thead
                th Location
                th Beginning
                th End
                th Latitude
                th Longitude
              tbody.table-striped
                  tr
                    td= vacation.name
                    td= moment(vacation.start).format('LL')
                    td= moment(vacation.end).format('LL')
                    td= vacation.lat.toFixed(4)
                    td= vacation.lng.toFixed(4)

block scripts
  script(src='/js/user/show-vacation.js')
